:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15rem;
    min-height: 15rem;
    color: #7ab22d;
}

li {
    font-size: larger;
    font-style: italic;
}

h1 {
   font-weight: bolder;
}