<div class="coverContainer">
    <div class="bluredBackground"></div>
    <button class="menuBtn" routerLink="menu">ORDER MEALS</button>
</div>
<div class="infoContainer">
    <div class="infoCard">
        <img class="deliveryImg" src="/assets/order.png" />
        <div class="infoTitle">SELECT YOUR MEALS</div>
        <div class="infoDesc">
            Select the meals that best fit your lifestyle. We provide a wide
            selection of healthy meals to choose from; custom-built just for you
        </div>
    </div>
    <div class="infoCard">
        <img class="deliveryImg" src="/assets/track.png" />
        <div class="infoTitle">COMPLETE YOUR ORDER</div>
        <div class="infoDesc">
            After selecting your meals, confirm your order by filling out your
            information and payment method
        </div>
    </div>
    <div class="infoCard">
        <img class="deliveryImg" src="/assets/delivery.png" />
        <div class="infoTitle">RECEIVE YOUR MEALS</div>
        <div class="infoDesc">
            Pick up your meals at one of our local pick up locations and begin
            your journey to a new, healthier you!
        </div>
    </div>
</div>
