:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: white;
    background-color: #222222;
    border-bottom: 1px solid whitesmoke;
}
