$greenCustom: #8dc73f;
$greenText: #7ab22d;

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
    color: $greenText;
    border-radius: 2rem;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}

:host.selected {
    border: none;
    background-color: $greenText;
    color: white;
}

:host:hover {
    transform: scale(1.05);
}
