:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 1.5rem;
    margin: 1rem;
    color: white;
    border-radius: 0.5rem;
    background-color: black;
}
