$greenText: #7ab22d;

:host {
    position: absolute;
    left: 3rem;
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #7ab22d;
}

.main-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.text {
    color: $greenText;
}
