<button
    class="main-btn"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger"
>
    <mat-icon class="main-icon">menu</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        <span class="text">Home</span>
    </button>
    <button mat-menu-item routerLink="menu">
        <mat-icon>restaurant</mat-icon>
        <span class="text">Menu</span>
    </button>
</mat-menu>
