$greenCustom: #7ab22d;
:host {
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-form-field {
    margin-top: 1.5rem;
}

mat-label {
   color: green;
}

div[matformfieldlineripple] {
    display: none;
}

 

